@{
    ViewBag.Title = "Mantenimiento de las tablas de la BDD";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title text-center">Mantenimiento de las tablas de la BDD</h2>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <a href="../Categories/Index" class="list-group-item list-group-item-action">Categorías de productos</a>
                        <a href="../Suppliers/Index" class="list-group-item list-group-item-action">Proveedores de productos</a>
                        <a href="../Products/Index" class="list-group-item list-group-item-action">Productos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
